{% extends 'montemplate.html.twig' %}


{% block contenu %}

	<h1><center>Formulaire création entreprise</center></h1>
	<BR>
	<BR>

		 {{form_start(vueFormulaireEntreprise)}}
		 {{form_start(vueFormulaireEntreprise.nom)}}
		 {{form_start(vueFormulaireEntreprise.activite)}}
		 {{form_start(vueFormulaireEntreprise.adresse)}}
		 {{form_start(vueFormulaireEntreprise.email)}}
		 {{form_start(vueFormulaireEntreprise.siteWeb)}} 
		 <button type="submit" class="btn btn-dark">Valider</button>
		 {{form_end(vueFormulaireEntreprise)}}
		 




{% endblock %}