{% extends 'montemplate.html.twig' %}

{% block contenu %}

	<h1>Bienvenue sur la page d'accueil de Prostages</h1>

	<ul>

		<li> <a href="{{ path('entreprises') }}">Entreprises</a> </li>
		<li> <a href="{{ path('formations') }}">Formations</a> </li>

	</ul>

	<h3><center>Voici un aperçu de la liste des stages</center></h3>

	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Titre
						</th>
						<th>
							Email
						</th>
						<th>
							Entreprise
						</th>
						<th>
							/
						</th>
					</tr>
				</thead>
				<tbody>
					
					{% for stage in stages %}
					<tr>
						<td>
							{{ stage.id }}
						</td>
						<td>
							{{ stage.titre }}
						</td>
						<td>
							{{ stage.email }}
						</td>
						<td>
							{{ stage.entreprise.nom }}
						</td>
						<td>
							<a class="link" href="stages/{{ stage.id }}">Détails</a>
						</td>
					</tr>
					{% endfor %}
					
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
